<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%X{traceId}] %-5level
				%logger - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/error.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../logs/error.%d{yyyy-MM-dd}.%i.log.zip
			</fileNamePattern>
			<maxHistory>30</maxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%X{traceId}] %-5level
				%logger - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<appender name="APPLICATION"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/application.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/application.%d{yyyy-MM-dd}.%i.log.zip
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%X{traceId}] %-5level
				%logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FRAMEWORK"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>../logs/framework.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/framework.%d{yyyy-MM-dd}.%i.log.zip
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>1000MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread][%X{traceId}] %-5level
				%logger{50} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="FRAMEWORK" />
		<appender-ref ref="ERROR" />
	</logger>

	<!-- 打印SQL语句 -->
	<Logger name="com.lizp.springmvc.persist" level="DEBUG"
		additivity="false">
		<appender-ref ref="APPLICATION" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</Logger>
	<Logger name="org.springframework.jdbc.datasource" level="DEBUG"
		additivity="false">
		<appender-ref ref="APPLICATION" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</Logger>

	<root level="INFO">
		<appender-ref ref="APPLICATION" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>