<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="propertyPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="0"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <!-- 标准配置 -->
                <value>classpath*:config/jdbc.properties</value>
                <!--<value>classpath*:config/redis.properties</value>-->
            </list>
        </property>
    </bean>

    <import resource="classpath*:context/spring-monitor.xml"/>
    <import resource="classpath*:context/spring-persist.xml"/>
    <import resource="classpath*:context/spring-persist2.xml"/>
    <!-- <import resource="classpath*:context/spring-service.xml"/>-->

    <!-- 自动扫描(自动注入)，扫描这个包以及它的子包的所有使用@Service注解标注的类 -->
    <context:component-scan base-package="com.lizp.springmvc.service,com.lizp.springmvc.config"/>
</beans>
